
.theme-index {

    .theme-container {
        margin-bottom: 2em;
		max-width: 400px;
    }
    
    a {
		display: inline-block;
        text-decoration: none;
        color: $text-color;
    }
    
    a:hover .card {
        box-shadow: 0 20px 35px -4px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }
	
	
	.theme-column {
		text-align: center;
	}
	.themes {
		display: none;
	}
    
    h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 0.25em;
		text-align: left;
    }
	
	p {
		text-align: left;
	}
    
    .browser-mockup {
        img {
			width: 400px;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }
    
}


.sidebar {
    .ps-container.ps-active-x>.ps-scrollbar-x-rail, .ps-container.ps-active-y>.ps-scrollbar-y-rail {
        display: none !important;
    }
}

.navbar.navbar-absolute {
    z-index: 0 !important;
}
.category-head {
	text-transform: capitalize;
	color: $gray-color;
}

.text-content {
	max-width: 800px;
}

.post {
	.avatar-post {
		height: 1em;
		vertical-align: text-top;
	}
}

.primary-light {
	display: none;
	font-size: 1em;
	color: $brand-color;
}

.badge-dark {
	background-color: #4a4a4a;
	font-size: 1em;
}