<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="">
 {% include loader.html %}
 
  <div class="wrapper">
    {% include sidebar.html %}
    
     <div class="main-panel">
         {% include nav.html %}
     
      <div class="content">
      
         {{content}}
         
      </div>
         
         {% include footer.html %}
     
    </div>
  </div>
  
  <!--   Core JS Files   -->
  <script src="{{site.baseurl}}/assets/js/core/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/core/popper.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/core/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>


  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{site.baseurl}}/assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>


  <script>
  jQuery(document).ready(function() {
        jQuery(".box-loader").fadeOut("slow");
    });
  </script>
</body>

</html>